In [23]:
print("SOLVED EXAMPLE:")
print("Check if a number is both even and greater than 10")
number = 16
is_even = number % 2 == 0
is_greater_than_10 = number > 10
result = is_even and is_greater_than_10
print(f"Number: {number}")
print(f"Is even: {is_even}")
print(f"Is greater than 10: {is_greater_than_10}")
print(f"Both conditions: {result}")
print("-" * 50)

SOLVED EXAMPLE:
Check if a number is both even and greater than 10
Number: 16
Is even: True
Is greater than 10: True
Both conditions: True
--------------------------------------------------

In [24]:
print("Question 1: Check if 25 is greater than 20 and less than 30")
num = 25
if 20 < num < 30:
    print("true")
else:
    print("false")

Question 1: Check if 25 is greater than 20 and less than 30
true

In [25]:
print("Question 1: Check if 25 is greater than 20 and less than 30")
num = 25
print(20<num<30)

Question 1: Check if 25 is greater than 20 and less than 30
True

In [26]:
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")
str1 = "python"
str2 = "Python"
if str1 == str2:
    print("true")
else:
    print("False")

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)
False

In [27]:
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")
str1 = "python"
str2 = "Python"
print(str1 == str2)

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)
False

In [28]:
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")
num = 15
if num % 3 == 0 and num % 5 == 0:
    print("true")
else:
    print("false")

Question 3: Check if 15 is divisible by both 3 and 5
true

In [29]:
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")
num = 15
print(num % 3 == 0 and num % 5 == 0)

Question 3: Check if 15 is divisible by both 3 and 5
True

In [30]:
print("\nQuestion 4: Check if 7 is not equal to 8")
num1 = 7
num2 = 8
if num1 == num2:
    print("true")
else:
    print("false")

Question 4: Check if 7 is not equal to 8
false

In [31]:
print("\nQuestion 4: Check if 7 is not equal to 8")
num1 = 7
num2 = 8
print(num1 == num2)

Question 4: Check if 7 is not equal to 8
False

In [32]:
print("\nQuestion 5: Check if 100 is greater than 50 or less than 25")
num = 100
print(25 < num < 50)

Question 5: Check if 100 is greater than 50 or less than 25
False

In [33]:
print("\nQuestion 6: Check if 0 is falsy in Python")
num = 0
print(bool(num))

Question 6: Check if 0 is falsy in Python
False

In [34]:
print("\nQuestion 7: Check if empty string '' is falsy in Python")
l = " "
print(bool(l))

Question 7: Check if empty string '' is falsy in Python
True

In [35]:
print("\nQuestion 8: Check if 42 is truthy in Python")
num = 42
print(bool(num))

Question 8: Check if 42 is truthy in Python
True

In [36]:
print("\nQuestion 9: Check if 10 is between 5 and 15 (inclusive)")
num = 10
print(5<=10<=15)

Question 9: Check if 10 is between 5 and 15 (inclusive)
True

In [37]:
print("\nQuestion 10: Check if 3.14 is greater than 3 and less than 4")
num = 3.14
print(3<3.14<4)

Question 10: Check if 3.14 is greater than 3 and less than 4
True