In [7]:
names =['ram','shyam','geeta']
upper_names = []
for i in names:
    upper_names.append(i.upper())
print(upper_names)

['RAM', 'SHYAM', 'GEETA']

In [6]:
## list of numbers square if postive, cube if negative ##
nums = [-3,-2,-1,0,1,2,3]
results = []
for i in nums:
    if i>0:
        results.append(i**2)
    elif i<0:
        results.append(i**3)
    else:
        results.append(0)
print(results)

[-27, -8, -1, 0, 1, 4, 9]

In [9]:
## list of numbers square if postive, cube if negative ##
nums = [-3,-2,-1,0,1,2,3]
results = []
for i in nums:
    if i>0:
        results.append(i**2)
    else:
        results.append(i**3)
print(results)

[-27, -8, -1, 0, 1, 4, 9]

In [14]:
##marks = [30, 45, 60, 80, 25]

#if socre should be more than or equal to 40
# ["pass", "fail"]##

marks = [30, 45, 60, 80, 25]
results = []

for mark in marks:
    if mark >= 40:
        results.append("pass")
    else:
        results.append("fail")
print(results)

max_marks = max(marks)
print("maximum marks scored: ", max_marks)

min_marks = min(marks)
print("minimum marks scored: ", min_marks)

total_pass = results.count("pass")
print("total passed: ", total_pass)

total_fail = results.count("fail")
print("total failed: ", total_fail)

['fail', 'pass', 'pass', 'pass', 'fail']
maximum marks scored:  80
minimum marks scored:  25
total passed:  3
total failed:  2

In [ ]:
##question 1
student_marks = int(input("Enter student's marks (0-100): "))

if student_marks < 0 or student_marks > 100:
    print("Invalid marks! Please enter a value between 0 and 100.")
else:
    print("Student's marks: ", student_marks)
    if student_marks >= 90:
        print("Grade A")
    elif student_marks >= 80:
        print("Grade B")
    elif student_marks >= 70:
        print("Grade C")
    elif student_marks >= 60:
        print("Grade D")
    else:
        print("Grade F")

Student's marks:  78
Grade C

In [25]:
# A list of student scores
student_scores = [95, 29, 45, 76, 110, 68, -5]

print("Student Grading Results: \n")

for marks in student_scores:
    if marks < 0 or marks > 100:
        result = f"Score {marks} is Out of Range"
    elif marks >= 90:
        result = f"Score {marks}: Grade A"
    elif marks >= 80:
        result = f"Score {marks}: Grade B"
    elif marks >= 70:
        result = f"Score {marks}: Grade C"
    elif marks >= 60:
        result = f"Score {marks}: Grade D"
    else:
        result = f"Score {marks}: Grade F"
    
    print(result)

Student Grading Results:

Score 95: Grade A
Score 29: Grade F
Score 45: Grade F
Score 76: Grade C
Score 110 is Out of Range
Score 68: Grade D
Score -5 is Out of Range

In [ ]:
#question 2
year = int(input("enter a year: "))
print("year entered: ", year)
if(year% 4==0):
    print(f"{year} is a leap year")
elif(year% 100==0):
        print(f"{year} is not a leap year")
elif(year% 400==0):
        print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

year entered:  1990
1990 is not a leap year

In [23]:
Years = [1990, 1995, 2000, 2005, 2010]
print("Years:\n",Years)
for year in Years:
    if(year%4==0):
        print(f"\n {year} is a leap year")
    elif(year%100==0):
        print(f"\n {year} is not a leap year")
    elif(year%400==0):
        print(f"\n {year} is a leap year")
    else:
        print(f"\n {year} is not a leap year")

Years:
 [1990, 1995, 2000, 2005, 2010]

 1990 is not a leap year

 1995 is not a leap year

 2000 is a leap year

 2005 is not a leap year

 2010 is not a leap year

In [ ]:
#question 3 
a = int(input("enter a value: \n"))
b = int(input("enter a value: \n"))
c = int(input("enter a value: \n"))

print("triangle sides are:\n",a, b, c )

if a <= 0 or b <= 0 or c <= 0:
    print("Invalid triangle sides")
elif a + b <= c or a + c <= b or b + c <= a:
    print("Not a valid triangle")
else:
    if a == b == c: 
        print("it is a equilateral triangle \n",a , b, c)
    elif a == b or b==c or a==c:
        print("Isosceles triangle")
    else:
        print("Scalene triangle")

triangle sides are:
 3 2 4
Scalene triangle

In [38]:
a = 3
b = 6 
c = 6

print("triangle sides are: \n",a,b,c)

if a <= 0 or b <= 0 or c <= 0:
    print("Invalid triangle sides")
elif a + b <= c or a + c <= b or b + c <= a:
    print("Not a valid triangle")
else:
    if a == b == c: 
        print("it is a equilateral triangle \n",a , b, c)
    elif a == b or b==c or a==c:
        print("Isosceles triangle")
    else:
        print("Scalene triangle")

triangle sides are:
 3 6 6
Isosceles triangle

In [6]:
weight = float(input("Enter weight in kg: "))
height = float(input("Enter height in meters: "))

print("Weight:", weight)
print("Height:", height)

BMI = weight / (height ** 2)
print("BMI:", BMI)

if BMI < 18.5:
    print("Underweight")
elif BMI < 25:
    print("Normal weight")
elif BMI < 30:
    print("Overweight")
else:
    print("Obese")

Weight: 160.0
Height: 140.0
BMI: 0.00816326530612245
Underweight

In [9]:
num = int(input("enter a value: \n"))

for i in range(1,11):
    print(num,"x",i,"=",num*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [8]:
num =5

for i in range(1,11):
    print(num,"x",i,"=",num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
# factorial
num = 5
factorial = 1
for i in range(1,num+1):
    factorial *= i
print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

In [14]:
num = int(input("enter a value: \n"))
print("number entered: ", num)

factorial = 1
for i in range(1,num+1):
    factorial*=i
print("the factorial is:",factorial)

number entered:  7
the factorial is: 5040

In [ ]:
num = int(input("enter a value: \n"))
if num % 2==0:
    print("the", num, "is even")