In [1]:
##Question: Find the sum and product of all elements in a tuple##
print("SOLVED EXAMPLE:")
print("Find the sum and product of all elements in a tuple")
numbers = (2, 4, 6, 8, 10)
sum_tuple = sum(numbers)
product = 1
for num in numbers:
    product *= num
print(f"Tuple: {numbers}")
print(f"Sum: {sum_tuple}")
print(f"Product: {product}")
print("-" * 50)

SOLVED EXAMPLE:
Find the sum and product of all elements in a tuple
Tuple: (2, 4, 6, 8, 10)
Sum: 30
Product: 3840
--------------------------------------------------

In [2]:
print("Question 1: Create a tuple of first 10 natural numbers")
num = (1,2,3,4,5,6,7,8,9,10)
print(f"The first 10 natural numbers are:{num}")

Question 1: Create a tuple of first 10 natural numbers
the first 10 natural numbers are:(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print("Question 1: Create a tuple of first 10 natural numbers")
num = tuple(range(1, 11))
print(num)

Question 1: Create a tuple of first 10 natural numbers
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")
num = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"the numbers are:{num}")
length = len(num)
print(f"the length of the tuple is {length}")

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
the numbers are:(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
the length of the tuple is 10

In [6]:
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")
l = ('a', 'b', 'c', 'd', 'e')
print("The 3rd element is:", l[2])

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
The 3rd element is: c

In [8]:
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")
l = (23, 45, 12, 67, 34, 89, 56)
print(f"the maximum value in tuple is : {max(l)}")

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
the maximum value in tuple is : 89

In [9]:
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")
l = (1, 5, 2, 5, 3, 5, 4, 5, 6)
print(f"The 5 has appaeraed : {l.count(5)} ")

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
The 5 has appaeraed : 4

In [12]:
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")
l = (45, 66.4, "cat", True)
print(f"{l}")

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
(45, 66.4, 'cat', True)

In [16]:
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")
l = ("java", "python", "c++", "javascript")
print(f"the index of element 'python' is {l.index('python')}")

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
the index of element 'python' is 1

In [17]:
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")
list_of_numbers = (10,20,30,40,50)
print(25 in list_of_numbers)

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
False

In [20]:
print("\nQuestion 9: Create a tuple of first 5 even numbers")
l = (2,4,6,8,10)
print(f"The first 5 even numbers are {l}")

Question 9: Create a tuple of first 5 even numbers
The first 5 even numbers are (2, 4, 6, 8, 10)

In [23]:
print("\nQuestion 9: Create a tuple of first 5 even numbers")
even_numbers = tuple(range(2,11,2))
print(even_numbers)

Question 9: Create a tuple of first 5 even numbers
(2, 4, 6, 8, 10)

In [25]:
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")
num = (15, 23, 31, 42, 56, 78)
sum_of_num = sum(num)
length = len(num)
average = (sum_of_num)/len(num)
print(f"The average of numbers in tuple are {average}")

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
The average of numbers in tuple are 40.833333333333336